services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack-api
    ports:
      - "4566:4566"            # Gateway (todos os serviços AWS)
      - "4510-4559:4510-4559"  # Portas externas por serviço (opcional)
    environment:
      - SERVICES=s3,sqs
      - DEBUG=0
      - PERSISTENCE=1
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - localstack_data:/var/lib/localstack
      - "/var/run/docker.sock:/var/run/docker.sock"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4566/_localstack/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

volumes:
  localstack_data:
